@{
    ViewBag.Title = "View Orders";
}

<h2>View Orders</h2>

<form asp-controller="Orders" asp-action="CreateOrder" method="post">
    <input type="submit" value="Create Order" class="btn-primary"/>
</form>