<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
  </configSections>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOrderService" />
        <binding name="BasicHttpBinding_IShippingService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50495/OrderService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IOrderService" contract="Orders.IOrderService"
        name="BasicHttpBinding_IOrderService" />
      <endpoint address="http://localhost:50495/ShippingService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IShippingService"
        contract="Shipping.IShippingService" name="BasicHttpBinding_IShippingService" />
    </client>
  </system.serviceModel>
</configuration>