<?xml version="1.0"?>
<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="MbUnit" publicKeyToken="eb9cfa67ee6ab36e" culture="neutral"/>
                <bindingRedirect oldVersion="3.0.5.546" newVersion="3.1.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="StructureMap" publicKeyToken="e60ad81abae3c223" culture="neutral"/>
                <bindingRedirect oldVersion="2.5.2.0" newVersion="2.5.4.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
