@model List<Products.Models.ProductCategory>

<ul class="nav navbar-nav">
    @foreach (var category in Model)
    {
        <li>@Html.ActionLink(category.Name, "Index", "Product", new { category.ProductCategoryId })</li>
    }
</ul>

